@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us!</h2>
<h3>@ViewBag.Message</h3>

<address>
    Candy Bot Games<br />
    Renton, WA 98056<br />
    <abbr title="Phone">P:</abbr>
    425.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@candybotgames.com">Support@candybotgames.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@candybotgames.com">Marketing@candybotgames.com</a>
</address>